* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    line-height: 1.4;

}

.header{
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;
}
.header:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #00bfff;
	z-index: 2;
}
.header__body{
	position: relative;
	display: flex;
	justify-content: space-between;
	height: 80px;
	align-items: center;
}
.header__logo {
	flex: 0 0 200px;
	position: relative;
	z-index: 3;
	margin-left: 15px;
	margin-top: 7px;

}
.header__logo img{
	max-width: 100%;
}
.header__burger{
	display: none;
}
.header__list{
	display: flex;
	color: #fff;
	position: relative;
	z-index: 2;
}

.header__list li{
	list-style: none;
	margin: 0px 30px 0px 20px;
}
.header__link{
	color: #fff;
	text-transform: uppercase;
	font-size: 18px;
	text-decoration: none;
    position: relative;
    padding: 4px;
    transition: all 0.5s;
}
.header__link:after{
    position: absolute;
    content: '';
    border-bottom: 3px solid white;
    left: 0;
    bottom: 0;
    width: 100%;
    transform: scale(0);
    transform-origin: right;
    transition: transform 0.5s;
}
.header__link:hover::after{
	color: black;
    transform: scale(1);
    transform-origin: left;
}


@media (max-width: 945px){
	body.lock{
		overflow: hidden;
	}
	.header__body{
		height: 50px;
	}
	.header__logo{
		flex: 0 0 120px;
	}
	.header__burger{
		display: block;
		position: relative;
		width: 30px;
		height: 20px;
		position: relative;
		z-index: 3;
		margin: 0px 15px;
	}
	.header__burger span{
		position: absolute;
		background-color: #fff;
		position: absolute;
		left: 0;
		width: 100%;
		height: 2px;
		top: 9px; 
		transition: all 0.5s ease 0s;
	}
	.header__burger:before,
	.header__burger:after{
		content: '';
		background-color: #fff;
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
		transition: all 0.5s ease 0s;
	} 
	.header__burger:before{
		top: 0;
	}
	.header__burger:after{
		bottom: 0;
	}
	.header__burger.active span{
		transform: scale(0);
	}
	.header__burger.active:before{
		transform: rotate(45deg);
		top: 9px;
	}
	.header__burger.active:after{
		transform: rotate(-45deg);
		bottom: 9px;
	}
	
	.header__menu{
		position: fixed;
		top: -100%;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #000;
		padding: 70px
		0px 0px 0px;
		transition: all 0.5s ease 0s;
	}
	.header__menu.active{
		top: 0;
	}
	.header__list{
		display: block;
		text-align: center;
	}
	.header__list li{
		margin: 0px 0px 15px 0px;
	}
	.header__link:hover{
	color: #00bfff;
	transition: all .7s ease;
	}
}


p {
    color: black;
    padding: 4px 9px;
    font-size: 20px;
}

h1 {
    color: white;
    text-align: center;
    margin-top: 270px;
    font-size: 100px;
}

h2 {
    color: white;
    font-size: 40px;
    text-align: center;
    margin: 0;
}

.button {
    background-color: #00BFB4;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 80px;
    cursor: pointer;
    transition: all 0.5s;
}

.button1 {
    background-color: #00BFB4;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 100px;
    size: 20px;
    height: 70px;
    cursor: pointer;
    transition: all 0.9s;
}
.button:hover{
    transform: scale(1.2);
    transition: all 0.3s;
}
.button1:hover{
    transform: rotate(360deg);
    transition: all 0.6s;
}

h3 {
    margin-top: 320px;
    text-align: center;
    font-size: 40px;
}

h4 {
    font-size: 20px;
    text-align: center;
}

.images {
    border-radius: 100px;
}

.img_category {
    margin-left: 30px;
}

.chomy_mu {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.class1 {
    display: flex;
    flex-direction: column;
}

h5 {
    font-size: 25px;
}

h6 {
    font-size: 17px;
}

.hh2 {
    margin-top: 10px;
    color: black;
    text-align: center;
    font-size: 50px;
}

.car {
	margin-top: 30px;
    display: flex;
    flex-direction: column;
    margin: auto;
}



.car1 {
	width: 100%;
    display: flex;
    justify-content: center;
    
}

.select-auto {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 0 0 50%;
	padding-bottom: 25px;
    transition: all 0.9s;
}

.select-auto > div {
	width: 90%;
	text-align: center;
	border: 2px solid green;
}

.select-auto img {
	width: 75%;
}
.select-auto:hover{
    transition: all 0.7s;
    transform: scale(0.8);
}

a {
    color: black;
    font-size: 30px;
    text-decoration: none;
}

.hhh2 {
    margin-top: 10px;
    color: black;
    text-align: center;
    font-size: 50px;
    margin-top: 40px;

}

.hh3 {
    margin-top: 30px;
    color: black;
    font-size: 30px;
}

.a5 {
    margin: auto;
}

.logo1 {
    display: block;
    margin: 0 auto;
}

.navigate {
    display: flex;
    flex-direction: row;
    margin: 0 auto;


}

.nav_menu {
    display: block;
    margin: 0 10px;
    margin-right: auto;
    margin-left: auto;
    transition: all 0.7s;
}
.nav_menu:hover{
    transition: all 0.4s;
    transform: scale(1.3);
}

.header_h{
	position: relative;
	max-height: 107vh;
	overflow: hidden;
}
.video_1{
	position: absolute;
	width: 1600px;
	height: 400px;
	top: 0;
	left: auto;
	z-index: -1;
    background-position: center;
    background: #000000;
    opacity:0.6;


	height: auto;
}
/*popup*/
.popup{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    transition: all 0.9s ease 0s;
}
.popup:target{
    opacity: 1;
    visibility: visible;
}
.popup:target .popup__content{
    transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
    opacity: 1;

}

/*.popup__area{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}*/

.popup__body{
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 10px;

}
.popup__content{
    background-color: #fff;
    color: black;
    max-width: 1000px;  
    min-width: 200px;
    padding: 20px;
    position: relative;
    transition: all 0.9s ease 0s;
    opacity: 0;
    transform: perspective(600px) translate(0px, -100%) rotateX(45deg);

}
.popup__close{
    position: absolute;
    right: 10px;
    top: 0px;
    font-size: 20px;
    color: black;
    text-decoration: none;
    margin-top: 5px;
}

.popup__title{
    font-size: 30px;
    text-align: center;
}

.red{
    color: red;
}
input{
    width: 300px;
    height: 40px;
    font-size: 17px;
    margin-bottom: 30px;
    padding: 0 7px; 
}
input:first-of-tipe{
   margin-right: 25px; 
}
textarea{
    width: 100%;
    height: 160px;
    padding: 4px 9px;
}
.textareaa{
    display: flex;
    justify-content: flex-start;
}
input, textarea{
    border: 1px solid green;
}
.form__inputs{
    display: flex;
    margin-top: 20px;
}
.button__block{
    display: flex;
    justify-content: flex-end;
}
input[type=submit]{
    width: 160px;
    height: 40px;
    background-color: #00BFB4; 
    color: white;
    margin-right: 0;
    margin-top: 20px;
    border-radius: 80px;
    cursor: pointer;
    transition: all 0.5s;
}
input[type=submit]:hover{
    text-transform: uppercase;
    font-size: 14px;
    color: #fff;
    position: relative;
    transition: all 0.5s ease 0s;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.7);

    z-index: 0;
}
.name1{
    margin-left: 10px;
}
/*таблиця*/
th{
    font-size: 20px;
    background-color: #1e88e5;
    color: white;
}
td{
    font-size: 18px;
}
.table__t{
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    border-collapse: collapse;
}
.table__t th, .table__t td{
    text-align: center;
    padding: 10px;
}
.table__t th:nth-child(odd){  /*непарними*/
    background: #2196f3;
}
.table__t tr:nth-child(even){ /*парними*/
    background: #f5f5f5;
}
.table__t td:not(:last-child){ /*для всіх крім останньої*/
    border-right: 1px solid #ccc;
}
.table__t tr{
    transition: all 0.4s;
}
.table__t tr:hover{
    background-color: #ccc; 
}
.table-responsive{
    width: 100%;
    overflow-x: auto;
}

@media only screen and (max-width: 1296px) {
    .im3 {
        width: 450px;
        height: 250px;
    }

    .car {
        flex-direction: column;
    }
}

@media only screen and (max-width: 955px) {
    h1 {
        font-size: 65px;
    }

    h3 {
        margin-top: 370px;
        font-size: 33px;
    }
}

@media only screen and (max-width: 820px) {
    .popup__title{
        margin-top: 15px;
    }
    .form__inputs{
        display: flex;
        flex-direction: column;
    }
    input{
    width: 332px;
    }
    .textareaa{
        display: block;
        margin: 0 auto;
    }
    input[type=submit]{
        display: block;
        margin: 0 auto;
    }
    

}

@media only screen and (max-width: 738px) {
    .im3 {
        width: 0px;
        height: 0px;
        margin-top: 170px;
    }
    .form__inputs p{
        text-align: center;
    }

    .car1 {
    	flex-direction: column;
    }

    .hh2 {
        font-size: 35px;
    }

   .a5 {
        width: 70%;
        
    }
    th{
    font-size: 17px;
    background-color: #1e88e5;
    color: white;
    }
    td{
    font-size: 15px;
    }
}

@media only screen and (max-width: 625px) {
    h1 {
        font-size: 35px;
    }

    h2 {
        font-size: 25px;
    }

    h3 {
        margin-top: 430px;
    }

    .a5 {
        width: 90%;
        
    }

    a {
        font-size: 25px;
    }

    h3 {
        font-size: 35px;
    }

    h4 {
        font-size: 15px;
    }

    h5 {
        font-size: 20px;
    }

    .logo1 {
        width: 250px;
        height: 80px;
        text-align: center;

    }

    .hh2 {
        font-size: 35px;
    }

    .hhh2 {
        font-size: 35px;
    }

    .hh3 {
        font-size: 25px;
    }

    .img_category {
        width: 100px;
        height: 100px;
    }

    .navigate {
        margin-top: 15px;
    }

 @media only screen and (max-width: 410px){
 	.popup__title{
        font-size: 20px;
    }
    .form__inputs p{
        font-size: 15px;
    }
    input{
    width: 100%;
    }
    p {
        font-size: 15px;
    }
    .popup__content {
    max-height: 450px;
    margin-top: 30px;
    }
    input{
        height: 30px;
    }
    textarea{
        height: 80px;
    }
    .table__t{
        height: 100%
    }
 }





}